@keyframes rotate {
    100% {
        transform: rotateY(360deg);
    }
}

.technologies {
    max-width: 1280px;
    margin: 0 auto;
}

.technologies__title {
    opacity: 0.8;
    margin-top: 100px;
    text-align: center;
    font-family: "Russo One", sans-serif;
    font-weight: bold;
    font-size: 64px;
}

.technologies__subtitle {
    font-family: "Russo One", sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}

.technologies__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    list-style: none;
    justify-content: center;
    margin-bottom: 100px;
}

.technologies__item {
    padding: 20px;
    display: block;
    list-style: none;
    max-width: 290px;
    box-shadow: 0 8px 10px 0.5px gray;
    margin: 20px;
    border-radius: 20px;
    transition: 0.3s;
    perspective: 1000px;
}

.technologies__item:hover {
    transition: 1s !important;
    box-shadow: none;
    transform: translateY(25px) !important;
}

.technologies__icon {
    opacity: 0.8;
    max-width: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.technologies__item:hover>.technologies__icon {
    animation: rotate 2s linear infinite;
}

.technologies__item-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.technologies__item-list {
    list-style: none;
    text-align: center;
}